.navbar-nav .nav-link {
    position: relative; 
    padding-bottom: 5px;
    margin: 0 10px;
}


.navbar-nav .nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;       
    background-color: #fafafa; 
    border-radius: 2px;
}


.navbar-nav .nav-link:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #2e2e2e 
}



.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('pictures/ảnh1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  
    min-height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
   
}
.hero-section h1 {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.search-container {
    display: flex;            
    justify-content: center;    
    align-items: center;       
}

.search-box {
    width: 100%;
    max-width: 500px;
    position: relative; 
}
.search-box .input-group {
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.search-box .input-group-text {
    border: none;
    padding-left: 20px;
}


.search-box .form-control {
    border: none;
    height: 45px;
    font-size: 0.95rem;
}

.search-box .form-control:focus {
    box-shadow: none; 
}


.search-box .btn-search {
    background-color: #007bff; 
    color: white;
    border: none;
    padding: 0 25px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.gioi-thieu{
     background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
            url('pictures/ảnh2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;

}
.gioi-thieu-anh {
    background-image: url('pictures/river2.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
 
    width: 100%;
    height: 450px; 
    border-radius: 20px; 
    
    transition: all 0.4s ease;
}
.tour-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  
}

.tour-card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 15px 40px rgba(0,0,0,0.3) !important; 
    cursor: pointer;
}

.tour-card .card-img-top {
    height: 250px;       
    object-fit: cover;   
    width: 100%;       
}

#combo-tour {
    background: linear-gradient(rgba(44, 131, 190, 0.8), rgba(255, 255, 255, 0.8));    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80vh; 
    display: flex;
    align-items: center;
}

#lien-he{
     background: url("pictures/river.jpg") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80vh; 
    display: flex;
    align-items: center;
}


#section-thanhtoan .nav-pills .nav-link {
    color: #495057;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    margin: 0 5px;
}

#section-thanhtoan .nav-pills .nav-link.active {
    background-color: #0dcaf0; 
    color: white;
    border-color: #0dcaf0;
}


#section-thanhtoan .card {
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2) !important;
}


#section-thanhtoan .form-control:focus {
    border-color: #0dcaf0;
    box-shadow: 0 0 0 0.25rem rgba(13, 202, 240, 0.25);
}

